#search-form{
	width: 40%;
	margin: 0 auto;
	position: relative;

}
#search-form .input-form{
	width: 100%;
	font-size: 1.5em;
/* 	padding: 10px 50px 10px 15px; */
	border-radius: 5px;
	border:  1px solid #DBDCDB;
}
#search-form .button_microphone {
	position: absolute;
	top: 0;
	right: 15%;
	border: 0;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 200px;
/* 	width: 1em; */
	/* height: 0; */
	text-align: center;
	font-size: 1.3rem;
	cursor: pointer;
	color:#868080;

}
#search-form .button_microphone:hover{
	background-color: transparent;
}
.grid-container {
  display: grid;
  grid-template-columns: 6fr 1fr;
}
